<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ply.mapper.LdapMapper">

    <resultMap id="result" type="com.ply.entity.Ldap">
        <result property="ldapID" column="ldapID"/>
        <result property="adName" column="adName" />
        <result property="ip" column="ip"/>
        <result property="searchPath" column="searchPath"/>
        <result property="bindUserPath" column="bindUserPath"/>
        <result property="bindUserPassword" column="bindUserPassword"/>
    </resultMap>

    <select id="ListLdap" resultMap="result">
        SELECT * FROM ldap
    </select>

    <select id="findLdapByadName" resultMap="result" parameterType="String">
        SELECT * FROM ldap
        where adName like concat(concat('%',#{adName}),'%')
        order by ldapID desc
    </select>

    <select id="queryPage" resultMap="result" parameterType="Integer">
        select * FROM ldap
        order by ldapID desc
        limit #{startRows},5
    </select>

    <select id="getRowCount" resultType="Integer" >
        select count(*) from ldap;
    </select>

    <insert id="insertLdap" parameterType="com.ply.entity.Ldap">
        INSERT INTO ldap
        (
        ldapID,adName,ip,searchPath,bindUserPath,bindUserPassword
        )
        VALUES (
        #{ldapID},
        #{adName, jdbcType=VARCHAR},
        #{ip, jdbcType=VARCHAR},
        #{searchPath, jdbcType=VARCHAR},
        #{bindUserPath, jdbcType=VARCHAR},
        #{bindUserPassword, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delete" parameterType="int">
        delete from ldap where ldapID=#{ldapID}
    </delete>

    <update id="Update" parameterType="com.ply.entity.Ldap">
        update ldap
        set ldap.adName={#adName}, ldap.ip={#ip}, ldap.searchPath={#searchPath}, ldap.bindUserPath={#bindUserPath}, ldap.bindUserPassword={#bindUserPassword}
        where ldap.ldapID=#{ldapID}
    </update>
</mapper>
